@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Reddit+Sans:ital@0;1&display=swap');

.sect-count{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 7%;
    padding: 20px;
}

body{
    font: 1.5em 'Reddit Sans', Arial, Helvetica, sans-serif;
    background-color: #183A37;
}

h1{
    color: #ffff;
    font-size: 2em;
}

#display_valor{
    color: #ffff;
    font-size: 3.5em;
    padding: 10px; 
    margin: 7px;
}

.box-bttns{
    display: flex;
    flex-direction: row;
    gap: 12px;
    padding: 14px;
    margin: 6px;
}

button{
    background-color: rgb(249, 249, 255);
    border: solid 1px #000;
    border-radius: 5px;
    color: #ffff;
    font: lighter 17px'Reddit Sans';
    padding: 10px;
    cursor: pointer;
    width: 143px;
    height: 51px;
}

button#decrease-num{
    background-color: #941C2F;
}

button#increment_num{
    background-color: #00A321;
}

button#reset-num{
    background-color: #787878;
}
